* {
    margin: 0;
    padding: 0;
    font-size: 42px;
}
@font-face {
    font-family: 'Digital Ints';
    src: url("fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff") format('woff');
}
.container {
    margin-top: 20px;
    margin-left: 50px;
}
.counters {
    display: flex;
    margin-bottom: 20px;
}
.counter {
    font-family: 'Digital ints';
    height: 50px;
    width: 215px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.counter p {
    font-size: 14px;
    color: rgb(255, 208, 0);
}
.right-counter {
    height: 100px;
    padding: 0 20px;
}
.right-counter div {
    font-size: 50px;
}
.digits {
    display: flex;
}
.left-counter .digits div {
    font-size: 30px;
}
.empty {
    color: rgb(70, 117, 0);
}
.digit {
    color: rgb(147, 245, 0);
}
.reel-frame {
    display: flex;
    border: 5px solid black;
    height: 220px;
    width: 460px;
    overflow: hidden;
    margin-bottom: 20px;
}
.reels li {
    list-style: none;
    margin-right: 20px;
}

/* medals */
.m-counters {
    display: flex;
    margin-left: -20px;
}
.m-counter {
    font-family: 'Digital Ints';
    color: rgba(255, 0, 0, 0.616);
    background-color: rgb(73, 28, 28);
    height: 60px;
    width: 140px;
    display: flex;
    justify-content: flex-end;
    margin-left: 20px;
    align-items: center;
}
/* ジャグラー本体 */
.box {
    position: relative;
    top: 90px;
    height: 170px;
    width: 250px;
    background-image: url("./images/lamp.svg");
    background-repeat: no-repeat;
}

.box p {
    transform: rotate(-20deg);
    display: inline-block;
    font-weight: 900;
}
button {
    position: relative;
    bottom: 60px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.lever {
    background-color: #000;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.flash {
    color: red;
    text-shadow:rgb(216, 33, 155) 0 0 20px;
}
.normal {
    color: gray;
}
.yet {
    border: red 3px solid;
}
.already {
    border: black 3px solid;
}
.pointer-none {
    pointer-events: none;
}
.svgSample1 {
    float: left;
    position: relative;
}
.svgSample1 text {
    font-weight       : bold;
    font-size         : 50px;
    font-family       : Meiryo UI;
    stroke            : #001b36;
    fill              : #ffffff;
    letter-spacing    : 3px;
    text-anchor       : middle;
}
.svgSample1 > svg > use:nth-of-type(1) {
    stroke-width      : 7px;
    paint-order       : stroke;
    stroke-linejoin   : bevel;
}
.svgSample1 > svg > use:nth-of-type(2) {
    stroke-width      : 0;
}