* {
    margin: 0;
    padding: 0;
    font-size: 42px;
}
@font-face {
    font-family: 'Digital Ints';
    src: url("fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff") format('woff');
}
.container {
    margin-top: 20px;
    margin-left: 50px;
}
.counters {
    display: flex;
    margin-bottom: 20px;
}
.counter {
    font-family: 'Digital ints';
    height: 50px;
    width: 215px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.counter p {
    font-size: 14px;
    color: rgb(255, 208, 0);
}
.right-counter {
    height: 100px;
    padding: 0 20px;
}
.right-counter div {
    font-size: 50px;
}
.digits {
    display: flex;
}
.left-counter .digits div {
    font-size: 30px;
}
.empty {
    color: rgb(70, 117, 0);
}
.digit {
    color: rgb(147, 245, 0);
}
.reel-frame {
    display: flex;
    border: 5px solid black;
    height: 220px;
    width: 460px;
    overflow: hidden;
    margin-bottom: 20px;
}
.reels li {
    list-style: none;
    margin-right: 20px;
}

/* medals */
.m-counters {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    grid-template-rows: 50px;
    grid-template-areas: 
    "credit pay    payOut"
    "medals medals medals";
}
#credit {
    grid-area: credit;
}
#pay {
    grid-area: pay;
}
#pay-out {
    grid-area: payOut;
}
#medals {
    margin-top: 20px;
    grid-area: medals;
}
.m-counter {
    font-family: 'Digital Ints';
    color: rgb(255, 0, 0);
    background-color: rgb(73, 28, 28);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}
/* Switches -> .mec */
.mec {
    display: flex;
}
.gogolamp {
    display: inline-block;
    margin: 0 40px;
}
.box {
    height: 170px;
    width: 200px;
    background-image: url("./images/lamp.svg");
    background-repeat: no-repeat;
}

.box p {
    font-size: 35px;
    position: absolute;
    top: 565px;
    left: 75px;
    transform: rotate(-20deg);
    display: inline-block;
    font-weight: 900;
}
button {
    position: relative;
    top: 20px;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.bet {
    font-size: 20px;
    width: 70px;
}
.lever {
    background-color: #000;
    height: 40px;
    width: 40px;
    border-radius: 40px;
}
.flash {
    color: red;
    text-shadow:rgb(216, 33, 155) 0 0 20px;
}
.normal {
    color: gray;
}
.yet {
    border: red 3px solid;
}
.already {
    border: black 3px solid;
}
.pointer-none {
    pointer-events: none;
}
.svgSample1 {
    position: absolute;
    top: 630px;
    left: 10px
}
.svgSample1 text {
    font-weight       : bold;
    font-size         : 40px;
    font-family       : Meiryo UI;
    stroke            : #001b36;
    fill              : #ffffff;
    letter-spacing    : 3px;
    text-anchor       : middle;
}
.svgSample1 > svg > use:nth-of-type(1) {
    stroke-width      : 7px;
    paint-order       : stroke;
    stroke-linejoin   : bevel;
}
.svgSample1 > svg > use:nth-of-type(2) {
    stroke-width      : 0;
}